<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css를 적용하고 싶지만 지금 상황으로는 적용이 힘들기 때문에 일단 패스!-->
    <link rel="stylesheet" type="text/css" media="screen" href="style_about.css">
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
</head>
<body>
    <div id = "head_container">
        <img id = "profile" src="profile_image.jpg" alt="" id="profilepic">
        <h1 class = "introduction">About the Creator and the Website</h1>
        <h2 class = "introduction">Hi! My name is Ahn Young Min!</h2>
    </div>
    <div id = "body_container">
        <section>
            <h1 id = "about_me">About Me!</h1>
            <p id = "explain">이 웹사이트는 여러분이 입력한 텍스트의 글자 수를 알려주는 한편 어떤 단어가 얼마나 사용되었는지를
            알아보는 사이트입니다. 재밌게 즐기세요!
            </p>
        </section>
        <br>
        <div id = "return">
            <button type="button" id = "contact">Contact Me</button>
            <a href = "{%url 'home'%}">되돌아가기</a>
        </div>
    
    
    </div>
    <div id = "bottom_container">
        <a href="">Facebook</a>
        <a href="">Instagram</a>
        <a href="">Twitter</a>
        <p>© 2019 SKKU Likelion</p>
    </div>

</body>
</html>